# Created by venv; see https://docs.python.org/3/library/venv.html

# Sanal Ortam (Virtual Environment)
beauty_env/

# Python Çalışma Dosyaları (Bytecode)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Veri Dosyaları (GitHub'a binlerce ürün verisini yüklemek istemeyiz)
products.json
*.csv
*.json

# VS Code Ayarları
.vscode/

# Scrapy Yerel Dosyaları
.python-version

# Çevresel Değişkenler (Environment Variables) 
.env
.drawio